button {
  /* background-color: #66fb61; */

  /* background-color: #4caf50;  */
  border-radius: 5px;
  border: none;
  /* color: white; */
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1rem 0.5rem;
}

button:hover {
  border: none;
  background-color: #c5c2c2;
}

.buttonContainer {
  width: 25rem;
  display: flex;
}
